<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "about" %}
    <a class="site-title" href="{{ site.baseurl | prepend: site.url }}/">
        {% assign name = site.name | split: ' ' %}
        <strong>{{ name | first | downcase }}</strong> {{ name | last | downcase }}
    </a>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- Blog -->
        <a class="page-link" href="{{ '/blog/' | prepend: site.baseurl | prepend: site.url }}">blog</a>

        <!-- Pages -->
        {% for page in site.pages %}
          {% if page.title and page.url != "/" %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

        <!-- CV link -->
        <a class="page-link" href="{{ '/assets/pdf/vitae.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a>
      </div>
    </nav>

  </div>

</header>
