<header class="site-header">

  <div class="wrapper">

    {% if page.layout != "about" %}
    <a class="site-title" href="{{ site.baseurl | prepend: site.url }}/">
        {% assign name = site.name | split: ' ' %}
        <strong>{{ name | first | downcase }}</strong> {{ name | last | downcase }}
    </a>
    {% endif %}

    <nav class="site-nav">

      <div class="trigger">
        <!-- pages -->
        {% for page in site.pages %}
          {% if page.navigation %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.navigation }}</a>
          {% endif %}
        {% endfor %}

        <!-- curriculum vitae -->
        <a class="page-link" href="{{ '/assets/pdf/vitae.pdf' | prepend: site.baseurl | prepend: site.url }}">vitae</a>

        <!-- résumé -->
        <a class="page-link" href="{{ '/assets/pdf/résumé.pdf' | prepend: site.baseurl | prepend: site.url }}">résumé</a>
      </div>
    </nav>

  </div>

</header>
