<div class="news">
  <h2>recent posts</h2>
  {% if site.posts  %}
    <table>
    {% assign posts = site.posts | reverse %}
    {% for item in posts limit: site.posts_limit %}
      <tr>
        <td class="date">{{ item.date | date: "%b %-d, %Y" }}</td>
        <td class="announcement">
          <a class="news-title" href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>No posts so far...</p>
  {% endif %}
</div>
